<footer class="container">
  <hr color="#rgb(7, 6, 6);">
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">consomi tounsi c'est un
             site web dans lequel figurent des marques de produits tunisiens de qualité. Il offre également
              des prestations de services pour inciter les Tunisiens ainsi que les étrangers à consommer les
               produits locaux. 
          </div>



        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <span  class="myspan" [routerLink]="['/home']">Home</span> <br>
            <span  class="myspan" [routerLink]="['/attar']">Attar</span><br> 
            <span  class="myspan" [routerLink]="['/belle']">Ma belle tunisie</span><br>
            <span  class="myspan" [routerLink]="['/art']">Art et culture</span>
           
           
           <!-- <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>-->
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.facebook.com/consomitounsii/">About Us</a></li>
            <span  class="myspan" [routerLink]="['/login']">Sign in</span> <br>
            <span  class="myspan" [routerLink]="['/register']">Sign up</span> <br>
            <span  class="myspan" [routerLink]="['/contactus']">Contact Us</span> <br>
            
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       ESSID ROEYA
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/consomitounsii/"><i class="fa fa-facebook"><img src='path_to_your_image' /></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/consomi_tounsi/?hl=fr"><i class="fa fa-instagram"><img src='path_to_your_image' /></i></a></li>
            <li><a class="whatsup" href="#"><i class="fa fa-instagram"><img src='path_to_your_image' /></i></a></li>
            
             
          </ul>
        </div>
      </div>
    </div>
</footer>
