<html>
    <body>
<div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="text-muted" href="#">Subscribe</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="#">Large</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="text-muted" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#">World</a>
        <a class="p-2 text-muted" href="#">U.S.</a>
        <a class="p-2 text-muted" href="#">Technology</a>
        <a class="p-2 text-muted" href="#">Design</a>
        <a class="p-2 text-muted" href="#">Culture</a>
        <a class="p-2 text-muted" href="#">Business</a>
        <a class="p-2 text-muted" href="#">Politics</a>
        <a class="p-2 text-muted" href="#">Opinion</a>
        <a class="p-2 text-muted" href="#">Science</a>
        <a class="p-2 text-muted" href="#">Health</a>
        <a class="p-2 text-muted" href="#">Style</a>
        <a class="p-2 text-muted" href="#">Travel</a>
      </nav>
    </div>
  
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
            <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="assets/belle/consomi.jpg" alt="photo of tunisia">
            <br><br>
        <p class="lead text-muted">En Tunisie, l’artisanat en quête d’un nouveau souffle L’Artisanerie, c’est tout un concept. Derrière cette enseigne d’une rue discrète du 
          centre de Tunis se cachent à la fois un atelier, un showroom et une association. Un lieu hybride où des 
          œuvres de l’artisanat haut de gamme trouvent place sur des étagères épurées. Vases en terre cuite, paniers
           en halfa, coussins brodés à Guermessa… Ce concept store cache en fait une chaîne de production basée sur 
           l’entrepreneuriat social. « Nous sommes allés chercher des artisans isolés pour mettre en valeur leurs 
           produits et les faire travailler avec des associations locales, afin de construire un modèle économique
            durable ».</p>
    <!--      <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>-->
        </div>
      </section>
    
      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                 
                
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/hamza.PNG" alt="art of tunisia" >
                <div class="card-body">
                  <i> <b><p style="color:red;">HAMZA ARTISANAT</p></b></i>
                  <p class="card-text">Palm leaf luxury 🌴 trademark™ 🌵 handmade 💯natural leather ✨unique touch ✴
                    Worldwide shipping ✈🚚 🌎</p>
                 
                        
                      <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/hamsa.artisanat/">
                        <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                         viewBox="0 0 24 24"></svg>
                  
                        <span>view</span>
                  
                        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                      </a>
                     <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                    
                    
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
           
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/husn.PNG" alt="photo of tunisia">
                <div class="card-body">
                    <i> <b><p style="color:red;">husn_jewelry</p></b></i>
                  <p class="card-text">High quality products and exceptional collections Ready-to-wear chic, refined and timeless.
                    Shipping in Tunisia📦
                   .</p>
                       <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/husn_jewelry/tagged/?hl=fr">
                        <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                         viewBox="0 0 24 24"></svg>
                  
                        <span>view</span>
                  
                        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                      </a>
                     <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                    
                    
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/yaqqut.PNG" alt="photo of tunisia"> <div class="card-body">
                    <i> <b><p style="color:red;">yaqqut</p></b></i>
                  <p class="card-text">Yaqqut | ياقوت
                    Customized gifts for moments that matter..
                  <br>
                   #619_tunisia #handmade </p>
                      <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/yaqqut_/">
                        <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                         viewBox="0 0 24 24"></svg>
                  
                        <span>view</span>
                  
                        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                      </a>
                     <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                    
                    
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/modi.PNG" alt="photo of tunisia"> <div class="card-body">
                    <i> <b><p style="color:red;">Manna</p></b></i>
                  <p class="card-text">Manna by Afef Masmoudi
                  Shopping & Retail
                  MANNA by Afef Masmoudi, marque d’habillement artisanal qui vous fait voyager au fil du 
                  temps de Tunisie, installée à Sfax et livre partout 📞23635577
                  </p>
                  <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/mannabyafefmasmoudi/">
                    <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                     viewBox="0 0 24 24"></svg>
              
                    <span>view</span>
              
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                  </a>
                 <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                
                
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/forfity.PNG" alt="photo of tunisia"> <div class="card-body">
                    <i> <b><p style="color:red;">Forfity</p></b></i>
                  <p class="card-text">F O R T I F Y 💪
                    Granola, energy balls, des barres de céréales... le tout fait maison et garantis sans huile
                     de palme, sans conservateurs et sans sucre ajouté ! 100%🇹🇳
                     installée à tunis et livré partout 📞
                    98756324</p>
                       <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/fortify_by_mme_mezghenni/">
                        <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                         viewBox="0 0 24 24"></svg>
                  
                        <span>view</span>
                  
                        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                      </a>
                     <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                    
                    
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/misk.PNG" alt="photo of tunisia"> <div class="card-body">
                    <i> <b><p style="color:red;">misk.gallery</p></b></i>
                  <p class="card-text"> #decorationinterieur #imprimé #design  #consomitounsi
                     #consomi_tounsi #619_tunisia
                     #handmade #handemadetunisia #tounsi100pour100 #استهلك_تونسي #tunisia #hellofromtunisia <br> livré partout  📞 23589632 <br> 
                        <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/misk.gallery/">
                          <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                           viewBox="0 0 24 24"></svg>
                    
                          <span>view</span>
                    
                          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                        </a>
                       <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                      
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/cherie.PNG" alt="photo of tunisia"> <div class="card-body">
                    <i> <b><p style="color:red;">Cherie</p></b></i>
                  <p class="card-text"> 👑Produit cosmétique naturel <br>
                    🎀Savon artisanal à froid <br>
                    🎉Handmade création <br>
                    😍Produit tunisien <br>
                    Numéro:+21655165129 <br>
                   
                        <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/cherie.naturel/">
                          <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                           viewBox="0 0 24 24"></svg>
                    
                          <span>view</span>
                    
                          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                        </a>
                       <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                      
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/IDEE.PNG" alt="photo of tunisia"> <div class="card-body">
                    <i> <b><p style="color:red;">idee_cadeau</p></b></i>
                  <p class="card-text">🇫🇷Paris🧶⭐️☁️🎁🧸 <br>Cadre personalisé, <br>Attache tetine, Coffret naissance🎁
                    #cadeaunaissance#attachetetine#cadeaupersonnalise#l4l#instapic#</p>
                        <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/idee_cadeau75/">
                          <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                           viewBox="0 0 24 24"></svg>
                    
                          <span>view</span>
                    
                          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                        </a>
                       <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                      
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/art/armatica.PNG" alt="photo of tunisia"> <div class="card-body">
                    <i> <b><p style="color:red;">aromatica</p></b></i>
                  <p class="card-text">AROMATICA <BR>
                   
                    ✉️ Info@aromatica.tn <BR>
                    Huiles essentielles, huiles végétales et produits cosmétiques 100 % naturelles <BR>
                    Marque tunisienne 🇹🇳 <BR>
                   </p>
                      <a class="card" target="_blank" rel="noopener" href="https://www.instagram.com/aromatica.tn/">
                        <svg class="material-icons" xmlns="http://instagram.com" width="24" height="24"
                         viewBox="0 0 24 24"></svg>
                  
                        <span>view</span>
                  
                        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                      </a>
                     <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                    
                    
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
    </main>
    <app-footer></app-footer>