.navbar{
  justify-content: space-between;

  .shop-name{
    cursor: pointer;
}
.myspan{
  padding-right: 1rem;
  cursor: pointer;
  .icon {
      position: relative;
      top: 5px;
    }
}
    width:100%;
    margin:auto;
    min-height:100px;
  }



.example-card {
  max-width: 100%;
  margin-top: 20px;
  
  .example-header-image {
      background-size: cover;
  }
  .action-buy {
      text-align: center;
  }
}





.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar{
  justify-content: space-between;

  .shop-name{
    cursor: pointer;
}
.myspan{
  padding-right: 1rem;
  cursor: pointer;
  .icon {
      position: relative;
      top: 5px;
    }
}
    width:100%;
    margin:auto;
    min-height:100px;
  }



.example-card {
  max-width: 100%;
  margin-top: 20px;
  
  .example-header-image {
      background-size: cover;
  }
  .action-buy {
      text-align: center;
  }
}





.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}