<app-navbar></app-navbar>


 <main role="main">

    <div class="jumbotron">
        <div class="container">
          <h1>  <i> <b><p style="color:red;">CONSOMI TOUNSI</p></b></i></h1>
            <p><b>consomi tounsi c'est un site web dans lequel figurent des marques de produits tunisiens de qualité. 
                Il offre également des prestations de services pour inciter les Tunisiens ainsi que les étrangers à consommer les produits locaux. 
                en un deuxième lieu il nous permet de préparer un guide et un plan en collaboration avec l'association......
                qui consiste à faire une planification d'un programme touristique pour une semaine avec des propositions multiples :
                 des circuits à prendre, des monuments à visiter, des restaurants et des magazins où ils peuvent consommer des produits purement tunisiens. ..
           </b> </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>ATTAR</h2>
                <p> Si vous êtes débordé et que vous n'avez plus le temps de faire ses courses au supermarché,
                     quoi de mieux que de se faire livrer à domicile les produits que vous consommez régulièrement.
                      Avec ATTAR Tunisie c'est possible, visitez la catégorie spécialement dédiée à l'alimentation et profitez
                       de nos offres spéciales sur de nombreux produits alimentaires tout en vous les faisant livrer à votre 
                       porte.</p>
                <p>  <button  class="btn btn-info my-2 my-sm-0" [routerLink]="['/attar']">View details</button></p>
            </div>
            <div class="col-md-4">
                <h2>MA BELLE TUNSIE </h2>
                <p>Il y a tant de choses à découvrir dans chaque région de la Tunisie : des paysages contrastés,
                     un littoral long de 1250 km parsemé d’îles et d’archipels, des traditions et coutumes diverses,
                      un riche héritage historique. Nous vous présentons ces régions en les répartissant, par commodité,
                       en trois zones : le nord, le centre et le sud.
                       nous vous présente notre belle Tunisie</p>
                <p>  <button  class="btn btn-info my-2 my-sm-0" [routerLink]="['/belle']">View details</button></p>
                
            </div>
            <div class="col-md-4">
                <h2>ART ET CULTURE</h2>
                <p>ART ET CULTURE  encourage la créativité locale,et sohaite à tous ceux qui ne vivent pas dans notre pays de venir le visiter et découvrir toutes ses merveilles..
                     beaucoup des créateurs de tous les gouvernorats de la Tunisie font désormais partie de la plateforme Artisans d'Art afin de bénéficier d'une grande visibilité
                      et être en contact direct avec tous les abonnés en Tunisie et dans le monde.
                </p>
                <p>  <button  class="btn btn-info my-2 my-sm-0" [routerLink]="['/art']">View details</button></p>
            </div>
        </div>

        <hr>

    </div>


  </main> 
<br><br>
<app-footer></app-footer>