<html>
<body>
   <!-- <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header> -->
<app-navbar></app-navbar>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="assets/belle/consomi.jpg" alt="photo of tunisia">
        <br><br>
    <p class="lead text-muted">La Tunisie est un pays d'Afrique du Nord situé sur la côte méditerranéenne et en bordure du désert du Sahara. 
        Le musée national du Bardo à Tunis, la capitale, expose des pièces archéologiques allant des mosaïques romaines à l'art 
        islamique. Le quartier de la Médina, avec son souk animé, encercle l'imposante mosquée Zitouna. À l'est,
         sur le site de l'ancienne cité de Carthage, se trouvent les thermes d'Antonin et d'autres ruines, et le
          musée national de Carthage et ses nombreux objets.</p>
<!--      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>-->
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
             
            
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/bardo.jpg" alt="photo of tunisia" href="http://www.facebook.com" >
            <div class="card-body">
              <i> <b><p style="color:red;">Le musée national du Bardo est un musée de Tunis,</p></b></i>
              <p class="card-text"> capitale de la Tunisie,
                   situé dans la banlieue du Bardo. C'est l'un des plus importants musées du bassin méditerranéen 
                   et le second musée du continent africain après le musée égyptien du Caire par la richesse de ses collections.
                    .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                  <a class="card" target="_blank" rel="noopener" href="https://facebook.com">
                    <svg class="material-icons" xmlns="http://facebook.com" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
              
                    <span>view</span>
              
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                  </a>
                 <!-- <button type="button" class="btn btn-sm btn-outline-secondary"  >View</button> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/byrsa.jpg" alt="photo of tunisia">
            <div class="card-body">
                <i> <b><p style="color:red;">Byrsa,</p></b></i>
              <p class="card-text">est une colline qui abrite de nos jours le site du musée national 
                  de Carthage et de la cathédrale Saint-Louis et appartient au site archéologique de Carthage
                   en Tunisie. La colline, présente dès les premiers jours de la cité punique selon les sources
                   ites et les récits de fondation dont l'héroïne est Elissa-Didon.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/habib.jpg" alt="photo of tunisia"> <div class="card-body">
                <i> <b><p style="color:red;">Le mausolée de Bourguiba,</p></b></i>
              <p class="card-text"> c'est un monument sépulcral situé à Monastir en Tunisie, abritant notamment la dépouille de l'ancien président Habib Bourguiba, 
                  le père de l'indépendance tunisienne,
                  Le mausolée construit du vivant de Bourguiba, en 1963, selon les caractéristiques de l'architecture traditionnelle .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/unnamed.jpg" alt="photo of tunisia"> <div class="card-body">
                <i> <b><p style="color:red;">zembra,</p></b></i>
              <p class="card-text">Zembra est une île rocheuse située dans le nord-est du golfe de Tunis
                d'origine italienne, son nom local est Jamour (جمور) et son nom latin Aegimures1. Dans l'Antiquité, 
                elle est probablement assimilée à Phoinikoussai (îles des Phéniciens) qu’Hécatée de Milet
                 (vers 500 av. J.-C.) situe dans le « golfe libyque » face à Carthage1
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/angel.jpg" alt="photo of tunisia"> <div class="card-body">
                <i> <b><p style="color:red;">Le cap Angela ou ras Ennghela,</p></b></i>
              <p class="card-text">, est un cap rocheux de la mer Méditerranée, 
                  situé dans le gouvernorat de Bizerte en Tunisie, environ quinze kilomètres du centre de la ville 
                  de Bizerte. Il est désigné depuis 2014 comme le point le plus septentrional d'Afrique. Un phare à
                   proximité immédiate guide les navires croisant au large.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/parc.jpg" alt="photo of tunisia"> <div class="card-body">
                <i> <b><p style="color:red;">Le parc national de Boukornine</p></b></i>
              <p class="card-text"> est un parc national du nord de la Tunisie centré autour
                   du Djebel Boukornine. Créé le 12 février 1987, il couvre 1 939 hectares. Situé dans le voisinage immédiat
                    de la ville de Hammam Lif et à une dizaine de kilomètres de Tunis, la capitale du pays, il est désigné 
                    comme étant un parc péri-urbain. .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/feija.jpg" alt="photo of tunisia"> <div class="card-body">
                <i> <b><p style="color:red;">Le parc national d'El Feija</p></b></i>
              <p class="card-text"> est un parc national tunisien situé dans la délégation de
                   Ghardimaou, à environ 200 kilomètres à l'ouest de Tunis et à une cinquantaine de kilomètres à l'ouest de
                   Jendouba. Le parc représente l'environnement naturel de la Kroumirie qui est la région la
                    plus humide de Tunisie. Il s'étend sur une superficie totale de 2 632 hectares dont 417 
                    hectares constituant une zone de protection intégrale clôturée et destinée à la préservation du cerf de Barbarie, .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/chak.jpg" alt="photo of tunisia"> <div class="card-body">
                <i> <b><p style="color:red;">chakwak</p></b></i>
              <p class="card-text">Chakwak, est un parc de divertissement, d’animation et de culture, situé au cœur de la plus grande palmeraie de Tunisie, l'oasis de Tozeur.
                   parc de divertissements et d’animation organisé autour du thème de 
                  l’histoire de l’humanité avec de nombreuses activités sur place. Parmi les commodités :
                   le café, le restaurant, l'espace réservé aux familles. Des soirées musicales sont également
                    organisées régulièrement.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/belle/jerba.jpg" alt="photo of tunisia"> <div class="card-body">
                <i> <b><p style="color:red;">djerba</p></b></i>
              <p class="card-text">djerba est une île de la côte tunisienne connue pour ses plages méditerranéennes  et ses villes
                   blanches du désert influencées par les cultures berbère, arabe, juive et africaine  superficie de 514 km2. Sa ville principale 
                   est Houmt Souk. Elle est réputée pour ses marchés artisanaux,. Au sud se trouve la synagogue El Ghriba, un lieu de pèlerinage pour les Juifs d'Afrique du Nord
                  aussi  connu par 'île de rêve.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<!--
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.4/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>-->
<app-footer></app-footer>